<div id="add-sale-popup" class="popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Add new Sale
    </h3>
    <div class="popup-content">
        <form id="add-sale">
            <div class="col-xs-12">
                <select name="product_id" class="selectpicker" data-show-subtext="true" data-live-search="true">
                    <option selected disabled value="">Select Product</option>
                    {% for product in products %}
                    <option value="{{ product.id }}" data-subtext="{{ product.price }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
                <label id="sale-product_id"></label>
            </div>
            <div class="col-xs-12">
                <input required type="number" name="value" placeholder="Sale Value (%)">
                <label id="sale-value"></label>
            </div>
            <button type="button" id="calculate" class="blue-btn col-xs-12">
                Calculate
            </button>
            <div id="sale-result">
            <h3 class="text-center col-md-6" id="before">
                <div>Original Price</div>
                <b class="text-blue" id="before-value">150</b>
            </h3>
            <h3 class="text-center col-md-6" id="after">
                <div>After Sale</div>
                <b class="text-blue" id="after-value">20</b>
            </h3>
            </div>
        <div class="col-xs-12 text-center">
            <button type="submit" class="blue-btn">
                Add
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="alert"></div>
        <div class="clearfix"></div>
        </form>
    </div>
</div>