<div class="popup" id="sign-in-popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Back to account
    </h3>
    <div class="popup-content">
        <form action="{{ path('login') }}" method="post" id="signin">
            <div class="col-xs-12">
                <input required type="text" name="_username" placeholder="Username">
                <label id="signin-username"></label>
            </div>
            <div class="col-xs-12">
                <input type="password" name="_password" placeholder="Password">
                <label id="signin-password"></label>
            </div>
        <div class="col-xs-12 text-center">
            <button type="submit" class="blue-btn">
                Sign in
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="alert"></div>
        <div class="clearfix"></div>
        </form>
    </div>
</div>