<div class="popup" id="sign-up-popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Create Free Account
    </h3>
    <div class="popup-content">
        <form id="signup">
            <div class="col-xs-6">
                <input type="text" name="firstname" placeholder="First Name">
                <label id="signup-firstname"></label>
            </div>
            <div class="col-xs-6">
                <input type="text" name="lastname" placeholder="Last Name">
                <label id="signup-lastname"></label>
            </div>
            <div class="col-xs-12">
                <input type="text" name="address" placeholder="Address">
                <label id="signup-address"></label>
            </div>
            <div class="col-xs-6">
                <input type="text" name="username" placeholder="User name">
                <label id="signup-username"></label>
            </div>
            <div class="col-xs-6">
                <input type="password" placeholder="Password">
                <label id="signup-password"></label>
            </div>
        <div class="col-xs-12 text-center">
            <button type="submit" class="blue-btn">
                Sign up
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="alert"></div>
        <div class="clearfix"></div>
        </form>
    </div>
</div>