{% extends 'bases/master.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="css/control-panel.css">
    {% block dashboard_style %}

    {% endblock %}
{% endblock %}
{% block contents %}

    <header>
        {% include('includes/layouts/header-nav.html.twig') %}
    </header>
    {% include('includes/layouts/menu.html.twig') %}
    <section class="contents">
        <div class="container-fluid">
        {% block tab_contents %}{% endblock %}
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="js/control-panel.js"></script>
    {% block dashboard_scripts %}

    {% endblock %}
{% endblock %}