{% extends 'bases/master.html.twig' %}

{% block contents %}

    {#header#}
    {#Menu#}
    <div class="tab-content">
    <div class="container">
        {% block tab %}{% endblock %}
    </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}