<div id="add-cart-popup" class="popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Add new Cart
    </h3>
    <div class="popup-content">
        <form id="add-cart">
            <div class="col-xs-12">
                <input required type="text" name="name" placeholder="Cart Name">
                <label id="cart-name"></label>
            </div>
        <div class="col-xs-12 text-center">
            <button type="submit" class="blue-btn">
                Add
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="alert"></div>
        <div class="clearfix"></div>
        </form>
    </div>
</div>