<div id="delete-cart-popup" class="popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Delete Cart
    </h3>
    <div class="popup-content">
        <form id="delete-cart">
            <input type="hidden" name="id">
            <p class="lead text-center">Are you sure you want delete this cart?</p>
        <div class="col-xs-12 text-center">
            <button type="submit" class="red-btn">
                Delete
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="alert"></div>
        <div class="clearfix"></div>
        </form>
    </div>
</div>