{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Carts
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    {% include('includes/forms/carts/add.html.twig') %}
    {% include('includes/forms/carts/delete.html.twig') %}
    <button class="blue-btn AddButton" data-popup="add-cart">+</button>
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Name</th>
                <th>Products</th>
                <th>Options</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
            {% for cart in carts %}
                <tr>
                    <td>{{ cart.name }}</td>
                    <td>{{ (cart.products|length) }}</td>
                    <td>
                        <i class="fa fa-times white delete-cart" data-id="{{ cart.id }}" data-popup="delete-cart"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="ajax/carts.js"></script>
{% endblock %}