{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    {#{% include('includes/forms/categories/add.html.twig') %}#}
    <a href="{{ path('add_category') }}"><button class="blue-btn AddButton">+</button></a>
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Name</th>
                <th>Products</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
    {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ (category.products|length) }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="ajax/categories.js"></script>
{% endblock %}