{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    {% include('includes/forms/categories/add.html.twig') %}
    {% include('includes/forms/categories/delete.html.twig') %}
    <button class="blue-btn AddButton" data-popup="add-category">+</button>
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Name</th>
                <th>Products</th>
                <th>Options</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
    {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ (category.products|length) }}</td>
                <td>
                    <i class="fa fa-times white DeleteCategory" data-id="{{ category.id }}" data-popup="delete-category"></i>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="ajax/categories.js"></script>
{% endblock %}