{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Clients
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    {% include('includes/forms/clients/delete.html.twig') %}
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
            {% for client in clients %}
            <tr>
                <td>
                    {{ client.name }}
                </td>
                <td>
                    {{ client.address }}
                </td>
                <td>
                    {{ client.phone }}
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}

{% endblock %}