{% extends 'bases/dashboard.html.twig' %}

{% block title %}
Admin
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    <h2>Welcome to Your Control Panel</h2>
    <h4>In the future there will be some statistics</h4>
{% endblock %}

{% block dashboard_scripts %}

{% endblock %}