{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block dashboard_style %}
{% endblock %}

{% block tab_contents %}
    {% include('includes/forms/products/add.html.twig') %}
    <button class="blue-btn AddButton" data-popup="add-product">+</button>
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ (product.category.name) }}</td>
                    <td>{{ (product.quantity) }}</td>
                    <td>{{ (product.price) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="ajax/products.js"></script>
{% endblock %}