<div id="add-product-popup" class="popup">
    <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Close"></i>
    <h3 class="popup-title">
        Add new Product
    </h3>
    <div class="popup-content">
        <form id="add-product">
            <div class="col-xs-12">
                <input required type="text" name="name" placeholder="Product Name">
                <label id="product-name"></label>
            </div>
            <div class="col-xs-6">
                <input required type="number" name="quantity" placeholder="Product Quantity">
                <label id="product-quantity"></label>
            </div>
            <div class="col-xs-6">
                <input required type="number" name="price" placeholder="Product Unit Price">
                <label id="product-price"></label>
            </div>
            <div class="col-xs-12">
                <select name="category_id">
                    <option selected disabled value="">Category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label id="product-quantity"></label>
            </div>
            {#<div class="col-xs-12 text-left">#}
                {#<label >Picture</label>#}
                {#<input type="file" name="picture" id="Picture">#}
            {#</div>#}
            <div class="col-xs-12 text-center">
                <button type="submit" class="blue-btn">
                    Add
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="alert"></div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>