<nav>
    <div class="container">
        <div class="fl-left">
            <li class="dropdown categories">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i> &nbsp; Categories
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Category</a></li>
                </ul>
            </li>
        </div>
        <ul class="fl-right">
            <li class="text-blue">Create Free Account</li>
            <li class="text-blue"><a href="">Sign in</a></li>
            <li class="dropdown user-info">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Karim Khamiss <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
