<nav>
    <ul>
        <a href=""><li class="active">Home</li></a>
        <a href=""><li>Categories</li></a>
        <a href=""><li>Products</li></a>
        <a href=""><li>Sales</li></a>
        <a href=""><li>Clients</li></a>
        <a href=""><li>Settings</li></a>
    </ul>
</nav>